<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688748531863-ceb9dv55qp2h8s3ejtltg9aofvr9lt22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688748531863-ceb9dv55qp2h8s3ejtltg9aofvr9lt22</string>
	<key>API_KEY</key>
	<string>AIzaSyD301d_qochgmR5vZsTlmYkBZqqfo19dnE</string>
	<key>GCM_SENDER_ID</key>
	<string>688748531863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>hello-world-7504c</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-7504c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688748531863:ios:6b10391546cee0163d19d2</string>
</dict>
</plist>